{
  "root": true,
  "extends": ["react-app", "eslint:recommended", "prettier"],
  "overrides": [
    {
      "files": ["*.{ts,tsx}"],
      "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint"],
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "extends": ["plugin:@typescript-eslint/recommended"]
    }
  ]
}
